{#
# Citation for the code below:
# Date: 6/5/2025
# All code for page based on the the starter code in "Building our webpage with Jinja Templating Engine"
# Source URl: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
#}
{% extends "main.j2" %}
{% block content %}

<h1>Customers</h1>

<h2>Customer List</h2>
<table border="1" cellpadding="5" cellspacing="0">
{# READ table #}
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Marketing Opt-out</th>
      <th>Customer Type</th>
      <th>Visit Count</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ customer.customerID }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.email | default('', true) }}</td>
      <td>{{ customer.marketingOptOut }}</td>
      <td>{{ customer.customerType }}</td>
      <td>{{ customer.visitCount }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr>

{% endblock %}