{% extends "main.j2" %}
{% block content %}

<h1>Customers</h1>
<table border="1" cellpadding="5" cellspacing="0">
{# READ table #}
  <thead>
    <tr>
      <th>customerID</th>
      <th>firstName</th>
      <th>lastName</th>
      <th>email</th>
      <th>marketingOptOut</th>
      <th>customerType</th>
      <th>visitCount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ customer.customerID }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.email | default('', true) }}</td>
      <td>{{ customer.marketingOptOut }}</td>
      <td>{{ customer.customerType }}</td>
      <td>{{ customer.visitCount }}</td>

      {# DELETE form #}
      <form method="POST" action="/delete-customer">
        <input type="hidden" name="customerID" value="{{ customer.customerID }}">
        <td>
          <button type="submit">Delete</button>
        </td>
      </form>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr>

{# CREATE form #}
<h2>Create a Customer</h2>
<form class="cuForm" method="POST" action="/create-customer">
  <label for="firstName">First Name: </label>
  <input type="text" name="firstName" id="firstName" required>

  <label for="lastName">Last Name: </label>
  <input type="text" name="lastName" id="lastName" required>

  <label for="email">Email: </label>
  <input type="email" name="email" id="email">

  <label for="marketingOptOut">Marketing Opt Out:</label>
  <select name="marketingOptOut" id="marketingOptOut">
    <option value="0">No</option>
    <option value="1">Yes</option>
  </select>

  <label for="customerType">Customer Type:</label>
  <select name="customerType" id="customerType" required>
    <option value="" disabled selected>Select type</option>
    <option value="New">New</option>
    <option value="Returning">Returning</option>
  </select>

  <label for="visitCount">Visit Count: </label>
  <input type="number" name="visitCount" id="visitCount" min="0" value="1">

  <input type="submit" value="Create Customer">
</form>

<hr>

{# UPDATE form #}
<h2>Update a Customer</h2>
<h3>test line lorineBranch</h3>


<form class="cuForm" method="POST" action="/update-customer">
  <label for="customerID">Customer to Update:</label>
  <select name="customerID" id="customerID" required>
    <option value="" disabled selected>Select a Customer</option>
    {% for customer in customers %}
    <option value="{{ customer.customerID }}">
      {{ customer.customerID }} - {{ customer.firstName }} {{ customer.lastName }}
    </option>
    {% endfor %}
  </select>

  <label for="email">Email: </label>
  <input type="email" name="email" id=" email">

  <label for="marketingOptOut">Marketing Opt Out:</label>
  <select name="marketingOptOut" id="marketingOptOut">
    <option value="0">No</option>
    <option value="1">Yes</option>
  </select>

  <label for="customerType">Customer Type:</label>
  <select name="customerType" id="customerType">
    <option value="New">New</option>
    <option value="Returning">Returning</option>
  </select>

  <label for="visitCount">Visit Count: </label>
  <input type="number" name="visitCount" id="visitCount" min="0">

  <input type="submit" value="Update Customer">
</form>

{% endblock %}