{% extends "main.j2" %}
{% block content %}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>SQLurp the Pho, a small fast casual Vietnamese restaurant grossing an average 
    of $750,000 sales per year, is in need of a website with a database backend to 
    track Sales, Orders, Menu Items, and Customers. The business averages 100 daily 
    transactions to new and returning customers. The purpose of the database is to 
    forecast which menu items to keep to increase profit by tracking sales patterns 
    across the 10 menu offerings as well as increase marketing efforts by tracking 
    customer information. </p>
</div>

<h3>Reset All Tables</h3>
<form method="POST" action="/reset-db" onsubmit="return confirm('This will reset tables to default values. Continue?');">
    <button type="submit">Reset All Data</button>
</form>

{% endblock %}