{% extends "main.j2" %}
{% block content %}

    <h1>Order Details</h1>

    <h2>Order Details List</h2>

    {% if order_details %}
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>Order ID</th>
                <th>Menu Item ID</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Customer ID</th>
                <th>Customer Name</th>
            </tr>
            {% for row in order_details %}
            <tr>
                <td>{{ row.orderID }}</td>
                <td>{{ row.menuItemID }}</td>
                <td>{{ row.itemName }}</td>
                <td>{{ row.quantityMenuItem }}</td>
                <td>{{ row.customerID }}</td>
                <td>{{ row.firstName }} {{ row.lastName }}</td>
            {% endfor %}
        </table>
    {% else %}
        <p>No order details available.</p>
    {% endif %}

    <hr>

{% endblock %}